.col {
    padding-top: 10px;
}

body {
    background: lightgray;
}

.col>p {
    text-align: center;
}

.navbar-left:first-child {
    margin-left: 80px;
}

.navbar-right>li {
    margin-right: 80px;
}

.title {
    margin-top: 5%;
    text-align: center;
}